backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
cloudpickle==1.2.1
cycler==0.10.0
decorator==4.4.0
enum34==1.1.6
future==0.18.3
futures==3.3.0
imageio==2.5.0
ipython==5.8.0
ipython-genutils==0.2.0
kiwisolver==1.1.0
matplotlib==2.2.4
networkx==2.2
numpy==1.16.4
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
prompt-toolkit==1.0.16
ptyprocess==0.6.0
PyBrain==0.3
pygame==1.9.6
Pygments==2.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
scandir==1.10.0
scikit-image==0.14.3
scipy==1.2.2
simplegeneric==0.8.1
six==1.12.0
subprocess32==3.5.4
termcolor==1.1.0
torch==1.1.0
torchvision==0.3.0
traitlets==4.3.2
wcwidth==0.1.7
